{# edit_image.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier Image{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Image</h1>

        {{ form_start(form) }}
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
