{# templates/figure/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Figures
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Figures</h1>
		<div class="row" id="figures-container">
			{% include 'figure/_figures.html.twig' with {'figures': figures|slice(0, 15)} %}
		</div>

		{% if figures|length > 15 %}
			<div class="d-flex justify-content-right mt-4">
				<button id="load-more-btn" class="btn btn-primary mt-4">Voir plus de figures</button>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/scroll.js') }}"></script>
	<script src="{{ asset('js/figures.js') }}"></script>
{% endblock %}
