{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle Figure{% endblock %}

{% block body %}
    <h3>Ajouter une nouvelle Figure</h3>
    <form method="post" enctype="multipart/form-data">
        {{ form_start(form) }}
                {{ include('figure/_form.html.twig') }}
        {{ form_end(form) }}
    </form>
{% endblock %}
