{# templates/comment/_comments.html.twig #}

{% for comment in comments %}
    <div class="media mb-3 comment-block">
        {% if comment.user.avatar %}
            <img src="{{ asset('/uploads/avatars/' ~ comment.user.avatar.imageURL) }}" class="mr-3 avatar-style" alt="Avatar">
        {% endif %}
        <div class="media-body">
            <div class="user-profile">
                <h6 class="mt-0 mb-1 user-name">{{ comment.user.fullName }}</h6>
                <small class="text-muted comment-date">{{ comment.createdAt|date('d/m/Y H:i') }}</small>  
            </div>
            <p>{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}
