<h3>Bonjour, merci de confirmer votre e-mail</h3>

<p>
	Merci de bien vouloir confirmer votre adresse e-mail avec le lien suivant :
	<br><br>
	<a href="{{ confirmationUrl }}" class="button">Je confirme mon email</a>.
</p>

<p>Salutations!</p>
